.BlogSection{
    padding-top: 20px;
}

.AboutUsPerDiv2{
    max-width: 800px;
    margin: auto;
}

.AboutUsPerDiv{
    margin-bottom: 1rem;
}

@media screen and (min-width: 1100px) {
    .BlogSection{
        padding-top: 50px;
    } 
}

.AboutUsLeft{
    color: black !important;
    font-size: 20px;
    text-transform: capitalize;
    text-align: justify;
}

.AboutUsPerDiv p{
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

.RightPerDiv{
    margin-bottom: 1.4rem;
}

.AboutUsPerDiv h5{
    margin-bottom: 1rem;
    color: var(--logoColor-1);
    font-weight: bold;
    font-size: 1.45rem;
}

.AboutUsLeft a:hover{
    color: var(--logoColor-2);
}

.AboutUsLeft div p a{
    font-weight: bold;
}

.AboutUsLeft img{
    width: 95%;
    margin: auto;
    margin-bottom: 1.2rem;
}

.AboutUsRight{
    color: black;
}

.AboutUsRight h5{
    color: black;
    text-align: center;
    padding: 10px;
    background: #ff863f;
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    margin-bottom: .7rem;
    text-transform: uppercase;
}

.AboutUSLi{
    display: flex;
    align-items: center;
    background-color: rgb(226 226 226);
    font: 20px;
    border-radius: 6px;
}

.AboutUSLi:not(:last-child){
    margin-bottom: .7rem;
}

.AboutUsRight .IconDivAboutus{
    background-color: var(--logoColor-1);
    margin-right: .7rem;
    color: white !important;
    padding: 5px 6px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

.AboutUsRight .IconDivAboutus i{
    color: white !important;
}

.AboutUsRight .LinkDiv{
    font-size: 20px;
    padding: 5px 0px;
}

.AboutUsRight .LinkDiv a{
    color: var(--logoColor-1);
}

.AboutUsRight .LinkDiv a:hover{
    color: var(--logoColor-2);
}

.LinkFrist{
    padding: 6px 10px !important;
    font-size: 17px !important;
}

/* Terms And Cond page start*/
.TermsAndCond{
    font-size: 15px;
}
/* Terms And Cond page end*/

/* Blog page start */
.BlogSection .AboutUsLeft{
    padding-right: 40px;
}

.PerBlogDIv{
    box-shadow: 0 0 5px rgb(214 204 204);
    padding: 30px;
    border-radius: 10px;
    height: min-content;
    padding-bottom: 44px;
}

.PerBlogDIv:not(:last-child){
    margin-bottom: 40px;
}

.PerBlogDIv h2{
    font-weight: bolder;
    margin-bottom: .8rem;
    color: var(--logoColor-1);
    text-align: left;
    text-transform: capitalize;
}

.PerBlogDIv ul{
    font-size: 15px;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.PerBlogDIv ul li i{
    margin-right: .2rem;
}

.PerBlogDIv ul li:not(:last-child){
    margin-right: .5rem;
}

.PerVlogImg{
    width: 100%;
    overflow: hidden;
}

.PerBlogDIv img{
    width: 70%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-bottom: .5rem;
}

.PerBlogDIv p{
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.PerBlogDIv .BlogDatilsL{
    border: none;
    outline: none;
    background-color: var(--logoColor-1);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    text-transform: capitalize;
}

.PerBlogDIv .BlogDatilsL:hover{
    color: white;
    background-color: var(--logoColor-2);
}

/* Blog page end */

/* Blog Daitles start */
.DaitlesPerDIv .MainTilte{
    font-weight: bolder;
}

.DaitlesPerDIv h3{
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.DaitlesPerDIv .imageDivBlog{
    overflow: hidden;
    margin-bottom: .5rem;
}

.DaitlesPerDIv img{
    width: 70%;
    height: auto;
}

.DaitlesPerDIv p{
    font-size: 17px;
    margin-bottom: 0;
}

.DaitlesPerDIv p:not(:last-child){
    margin-bottom: .7rem;
}

.DaitlesPerDIv:not(:last-child){
    margin-bottom: 2rem;
}
/* Blog Daitles end */

@media screen and (max-width: 991px) {
    .BlogSection .AboutUsLeft{
        padding-right: 10px !important;
    }

}

@media screen and (max-width: 767px) {
    .PerBlogDIv img{
        width: 87%;
    }

    .BlogSection .AboutUsLeft{
        padding-right: 0px;
    }

    .PerBlogDIv{
        padding: 15px;
        margin-bottom:  .8rem;
        padding-bottom: 25px;
    }

    .AboutUsLeft{
        padding: 10px;
        padding-right: 10px !important;
    }

    .DaitlesPerDIv img{
        width: 85%;
        height: auto;
    }
}

:root {
    --logoColor-1: #2c66af;
    --logoColor-2: #ff863f;
    --servocehover: #e79855;
    --navColor: rgb(216, 216, 216);
    --navIconColor: red;
    --navmidbg: #75b535;
    --TopNev: #3c516a;
    --DestopCatagori: #3e6a10;
}
